<form class="body" (ngSubmit)="onSubmit()">
    <h1 class="header">ADD YOUR QUOTE</h1>
<hr>
     <div class="field">
     <label for="title">Your name:</label>
     <input type="text" name="name" id="name" [(ngModel)]="Name">
     </div>
     <hr>
     <div class="field">
     <label for="link">Author's Names:</label>
     <input type="text" id="author" name="Author" [(ngModel)]="Author">
     </div>
     <hr>
     <div class="field">
        <label for="link">Quote:</label>
        <input type="text" name="quote" id="quote" [(ngModel)]="Quote">
        </div>
<hr>
        <div class="field">
            <label for="link">Completion date:</label>
            <input type="date" id="date" name="date" [(ngModel)]="Date">
      </div>
      <hr>
      <button type="submit" id="btn1"> Post Quote</button>
</form>
