<body>
    <div class="container">
        <div class="row">
            <div class="topnav">
                <a id="Home" href="">Home</a>
              </div>
              <div *ngFor="let quote of quotes">
                <app-details [quote]="quote"></app-details>
              </div>
    <app-form (emitQuote)="add($event)"></app-form>
        </div>
          <div>
            <div *ngFor="let quote of quotes let i=index">
                <app-details [quote]="quote"></app-details>
                
        <button class="btn btn-info" (click)="Up(i)">Upvote</button>
        <button class="btn btn-info" (click)="Down(i)">Downvote </button>
        <button class="btn btn-danger" (click)="Delete(i)">Delete</button>
        </div>
          </div>
    </div>
    </body>
